@model CheckGiftCardBalanceModel

@using Nop.Core
@using Nop.Services.Customers
@using Nop.Web.Framework.UI;
@inject IWorkContext workContext
@inject ICustomerService customerService

@{
    var isRegisterCustomer = await customerService.IsRegisteredAsync(await workContext.GetCurrentCustomerAsync());
    Layout = isRegisterCustomer ? "_ColumnsTwo" : "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.CheckGiftCardBalance").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
}

@if (isRegisterCustomer)
{
    @section left
    {
        @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.CheckGiftCardBalance })
    }
}


<div class="page account-page check-gift-card-balance-page from-panel">
    <div class="page-title panel-heading">
        @if (isRegisterCustomer)
        {
            <h1>@T("Account.MyAccount") - @T("PageTitle.CheckGiftCardBalance")</h1>
        }
        else
        {
            <h1>@T("PageTitle.CheckGiftCardBalance")</h1>
        }
    </div>
    <div class="page-body panel-body">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-danger message-error">
                @Model.Message
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-success result">
                @string.Format(T("ShoppingCart.Totals.GiftCardInfo.Remaining").Text, @Model.Result)
            </div>
        }
        <form asp-controller="Customer" asp-action="CheckGiftCardBalance" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3 col-md-4 col-xs-12" asp-for="GiftCardCode" asp-postfix=":"></label>
                    <div class="col-sm-6 col-md-4 col-xs-12">
                        <input asp-for="GiftCardCode" placeholder="@T("ShoppingCart.GiftCardCouponCode.Tooltip")" class="fullname form-control" />
                    </div>
                    <div class="col-sm-3 col-md-4 col-xs-12">
                        <nop-required />
                        <span asp-validation-for="GiftCardCode"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="captcha-box col-sm-offset-3 col-md-offset-4 col-sm-8 col-md-8 col-xs-12">
                        <nop-captcha class="g-recaptcha" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-md-offset-4 col-md-8 col-xs-8 check-gift-balance-button save-btn-mt">
                    <div class="buttons">
                        <button type="submit" name="checkbalancegiftcard" id="checkbalancegiftcard" class="btn btn-primary button-1 check-gift-card-balance-button">@T("CheckGiftCard.GiftCardCouponCode.Button")</button>
                        <script asp-location="Footer">
                            $(document).ready(function () {
                                $('#giftcardcouponcode').keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $('#checkbalancegiftcard').click();
                                        return false;
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>